<div id="footer" class="container valign-wrapper">
  <div class="valign-wrapper">
    <a href="wip.html" class="footerlink" target="_blank">Devis en ligne</a>
  </div>
  <div class="valign-wrapper">
    <a href="wip.html" class="footerlink" target="_blank">Contact</a>
  </div>
  <div class="valign-wrapper">
    <a href="wip.html" class="footerlink" target="_blank">Mentions légales</a>
  </div>
  <div class="valign-wrapper">
    <a href="wip.html" class="footerlink" target="_blank">CGU</a>
  </div>
  <div class="valign-wrapper">
    <a href="wip.html" class="footerlink" target="_blank">Politique de confidentialité</a>
  </div>
</div>
