 <!--PLAN DU SITE-->
 <section appFadeIn>
   <div class="row plan card-panel z-depth-2 hide-on-med-and-down">
     <div class="links col l6">
       <h5>CREATION DE SITE WEB</h5>
       <ul>
         <li><a href="wip.html">Gestrion de projet</a></li>
         <li><a href="wip.html">Webdesign</a></li>
         <li><a href="wip.html">Identité visuelle</a></li>
         <li><a href="wip.html">Développement</a></li>
         <li><a href="wip.html">Intégration</a></li>
         <li><a href="wip.html">Hébergement</a></li>
         <li><a href="wip.html">Webmarketing</a></li>
         <li><a href="wip.html">Référencement naturel</a></li>
         <li><a href="wip.html">E-Mailing</a></li>
         <li><a href="wip.html">Infogérance</a></li>
       </ul>
     </div>
     <div class="links col l6">
       <h5>DOMAINES D'ACTIVITE</h5>
       <ul>
         <li><a href="wip.html">Création de site ecommerce</a></li>
         <li><a href="wip.html">Création de site institutionnel</a></li>
         <li><a href="wip.html">Création de site de marque</a></li>
         <li><a href="wip.html">Création de site vitrine</a></li>
         <li><a href="wip.html">Création de site catalogue</a></li>
         <li><a href="wip.html">Refonte de site</a></li>
         <li><a href="wip.html">Responsive design</a></li>
         <li><a href="wip.html">Création de site avec CMS</a></li>
         <li><a href="wip.html">Interfacage</a></li>
       </ul>
     </div>
   </div>
 </section>
