<!--BIENVENUE-->
<header>
  <div class="header col">
    <div class="header row">
      <h1>Webmag-Agency</h1>
      <h3>Vos projets web, sur mesure et 100% francais !</h3>
      <p>Vous désirez donner vie à vos idées ? Nos professionnels sont à votre écoute !</p>
      <div class="hide-on-med-and-down">
        <p>
          <a href="wip.html"><fa-icon [icon]="lightbulb" size="2x"></fa-icon></a>
        </p>
      </div>
      <p><a href="wip.html" class="waves-effect waves-light btn">En savoir plus</a></p>
    </div>
  </div>
</header>

<!--SLIDER OFFRES-->
  <div class="slider" appSlider>
    <ul class="slides">
      <li>
        <a href="wip.html"><img src="../../assets/images/website.png" alt=""></a>
        <div class="caption left-align">
          <div class="card-panel z-depth-2">
            <h3>Création de site web</h3>
          </div>
          <div class="card-panel z-depth-2">
            <h5>Méthodes, rigueur et réactivité pour réaliser et suivre votre projet de site internet.
            </h5>
          </div>
          <a href="wip.html" class="waves-effect waves-light btn">En savoir plus</a>
        </div>
      </li>
      <li>
        <a href="wip.html"><img src="../../assets/images/database.jpg" alt=""></a>
        <div class="caption left-align">
          <div class="card-panel z-depth-2">
            <h3>Hébergement</h3>
          </div>
          <div class="card-panel z-depth-2">
            <h5>Notre savoir faire en hébergement nous permet de conseiller nos clients et de concevoir
              des
              projets à fort traffic.</h5>
          </div>
          <a href="wip.html" class="waves-effect waves-light btn">En savoir plus</a>
        </div>
      </li>
      <li>
        <a href="wip.html"><img src="../../assets/images/gfx.jpg" alt=""></a>
        <div class="caption left-align">
          <div class="card-panel z-depth-2">
            <h3>Création graphique</h3>
          </div>
          <div class="card-panel z-depth-2">
            <h5>Création online ou offline, nous réalisons les projets graphiques qui reflètent votre
              image.</h5>
          </div>
          <a href="wip.html" class="waves-effect waves-light btn">En savoir plus</a>
        </div>
      </li>
      <li>
        <a href="wip.html"><img src="../../assets/images/marketing.jpg" alt=""></a>
        <div class="caption left-align">
          <div class="card-panel z-depth-2">
            <h3>Webmarketing</h3>
          </div>
          <div class="card-panel z-depth-2">
            <h5>Rentabilisez votre site web grâce au référencement naturel, à l'emailing ou d'autres
              actions
              de création de traffic.</h5>
          </div>
          <a href="wip.html" class="waves-effect waves-light btn">En savoir plus</a>
        </div>
      </li>
    </ul>
  </div>

<!--RECRUTEMENT-->
<section appFadeIn>
  <div class="row title card-panel z-depth-2">
    <h3>Notre agence recrute</h3>
    <div class="col l6 m6 s12">
      <div class="article card-panel z-depth-2">
        <h5>Développeur web</h5>
        <p>Vous êtes passionnés par les nouvelles technologies, et avez des compétences en développement web ?</p>
        <p><img src="../../assets/images/code.jpg" alt=""></p>
        <a href="wip.html" class="waves-effect waves-light btn">Postulez</a>
      </div>
    </div>
    <div class="col l6 m6 s12">
      <div class="article card-panel z-depth-2">
        <h5>Graphiste</h5>
        <p>Vous avez une formation en web design, et aimez travailler en équipe ? N'hésitez pas à postuler</p>
        <p><img src="../../assets/images/interview.jpg" alt=""></p>
        <a href="wip.html" class="waves-effect waves-light btn">Postulez</a>
      </div>
    </div>
  </div>
</section>

<!--NEWS & EVENEMENTS-->
<section appFadeIn>
  <div class="slider news" appSlider>
    <ul class="slides">
      <li>
        <a href="wip.html"><img src="../../assets/images/conference.jpg" alt=""></a>
        <div class="caption left-align">
          <div class="card-panel z-depth-2">
            <h3>Conférence sur un nouveau framework</h3>
          </div>
          <div class="card-panel z-depth-2">
            <h5>Si vous avez deja des compétense en Javascript, ce nouveau framework vous intéressera
              surement</h5>
          </div>
          <a href="wip.html" class="waves-effect waves-light btn">lire l'article</a>
        </div>
      </li>
      <li>
        <a href="wip.html"><img src="../../assets/images/exposition.jpg" alt=""></a>
        <div class="caption left-align">
          <div class="card-panel z-depth-2">
            <h3>Une exposition pas comme les autres</h3>
          </div>
          <div class="card-panel z-depth-2">
            <h5>Le nouveau projet du graphiste Xavier DUBOIS est enfin exposé à Aubeterre</h5>
          </div>
          <a href="wip.html" class="waves-effect waves-light btn">lire l'article</a>
        </div>
      </li>
      <li>
        <a href="wip.html"><img src="../../assets/images/startup.jpg" alt=""></a>
        <div class="caption left-align">
          <div class="card-panel z-depth-2">
            <h3>Startup Weekend</h3>
          </div>
          <div class="card-panel z-depth-2">
            <h5>Cet évènement à grand succès est enfin de retour pour sa 5ème édition</h5>
          </div>
          <a href="wip.html" class="waves-effect waves-light btn">lire l'article</a>
        </div>
      </li>
    </ul>
  </div>
</section>
